body{
    background-color: #f1f1f1;
}

.intro-text{
    margin-top: 15%;
    text-align: center;
}

.intro-header{
    display: none;
}

.intro-body{
    display: none;
}

a#slack{
    color: #597483;
}

h1, h2, h3, h4{
/*    font-family: 'Slabo 27px', serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2{
    font-size: 3.5em;
    font-weight: lighter;
    
}

h4{
    font-size: 1em;
    font-weight: 100;
    text-align: left;
    margin-top: -1%;
    margin-bottom: 4%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


table{
    color: #54626a !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

th{
    color: #54626a !important;
    font-weight: 100 !important;
}

#git-id{
    display: inline;
    font-weight: 600;
    color: black;
}

.github{
    width: 90%;
    margin-left: 5% !important;
    top: 40%;
    position: fixed !important;
    overflow-y: scroll !important;
    padding: 0 !important;
}

#avi{
    width: 25px;
    border-radius: 5px;
}

.icon{
    color: #597483;
}


a:hover{
    cursor: pointer;
    text-decoration: underline;
}

tr:hover{
    background-color: rgba(211,211,211, 0.2);
}

/*
thead.table-heading{
    background-color: rgba(176,226,255, 0.2) !important;
    border: 1px solid rgba(176,226,255, 0.8) !important;
}
*/

#back{
    padding-left: 2.5%;
}

#folder-path{
    position: fixed !important;
    margin-left: 5%;
    top: 10%;
    display: none;
/*    z-index: 99999;*/
}

#readme-segment{
    display: none;
/*    position: fixed;*/
/*    top: 25%;*/
}

#readme-content{
    overflow-y: scroll !important;
/*    width: 90%;*/
}

.page-content{
    height: 440px;
    overflow-x: hidden;
    overflow-y: auto !important;
    margin: 3%;
}

#readme-page-content{
    height: 300px;
}

.home-path{
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bolder;
}

#project{
    display: inline;
    font-size: 1.25em;
    line-height: 2em;
    color: black;
}

#folder{
    display: inline;
    font-size: 1.25em;
    line-height: 2em;
}

#f-slash{
    display: none;
}

.slash{
    display: inline;
    font-size: 1.5em;
    color: black;
}

@media screen and (max-width: 750px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */

    .github{
        height: 350px !important;
    }
    
    @media screen and (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
        .mobile-hide{
            visibility: hidden;
        }
    }
    
}

.caption{
    text-align: center;
    font-size: 0.85em;
    font-weight: 100;
}

.fat-links{
    font-size: 1.15em;
    line-height: 1.45em;
}
