<table class="ui single line table" id="github-header">
    <thead class="table-heading">
        <tr >
            <th colspan="2">
              <img id="avi" class="ui mini right spaced image" src="me.jpg"><p id="git-id">drmohan</p>
            </th>
            <th class="right aligned collapsing mobile-hide">Latest commit db52c7d on May 18, 2017</th>
        </tr>
    </thead>
    <tbody id="table-body">
        <tr>
          <td class="collapsing" colspan="3" id="back">
              </i><a onclick="openFolder('parent')" class="back-dots">..</a>
          </td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a href="#">heartRateAnalytics</a>
          </td>
          <td>initial commit (content to come)</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a onclick="openReadMe('creamery')">creamery</a>
          </td>
          <td>Ruby on Rails store and employee management system</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a onclick="openReadMe('dart')">dart</a>
          </td>
          <td>to-do list app built with AngularJS, Electron, Backand</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
    </tbody>
</table>