<table class="ui single line table" id="github-header">
    <thead class="table-heading">
        <tr>
            <th colspan="2">
              <img id="avi" class="ui mini right spaced image" src="me.jpg"><a href="index.html" id="git-id">drmohan</a>
            </th>
            <th class="right aligned collapsing mobile-hide">Latest commit db52c7d on May 18, 2017</th>
        </tr>
    </thead>
    <tbody id="table-body">
        <tr>
          <td class="collapsing">
            <i class="folder icon"></i><a onclick="openFolder('development')">development</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="folder icon"></i><a onclick="openFolder('design')">design</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="folder icon"></i><a onclick="openFolder('usability')">usability</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a href="resume.pdf" target="_blank">resume.pdf</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a onclick="openReadMe('readme')">README.md</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned collapsing mobile-hide">10 hours ago</td>
        </tr>
    </tbody>
</table>