<table class="ui single line table">
    <thead class="table-heading">
        <tr >
            <th colspan="2">
              <img id="avi" class="ui mini right spaced image" src="me.jpg"><p id="git-id">drmohan</p>
            </th>
            <th class="right aligned collapsing">Latest commit db52c7d on May 17, 2017</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td class="collapsing">
              <a href="index.html">..</a>
          </td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a href="#">heartRateAnalytics</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a href="#">creamery</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned">10 hours ago</td>
        </tr>
        <tr>
          <td class="collapsing">
              <i class="file text outline icon"></i><a href="#">dart</a>
          </td>
          <td>Initial commit</td>
          <td class="right aligned">10 hours ago</td>
        </tr>
    </tbody>
</table>