<div class="page-content" id="dart-page-content">

    <h1>A&M Creamery</h1>
    <div class="ui divider"></div>
    <br>
    <div class="ui grid">
        <div class="six wide column">
            <img src="img/AM/AM-Home.png" width="100%">
        </div>
        
        <div class="ten wide column">
            <p>For my application development course, I built an employee and store management system for the fictitious A&M Creamery with full front and back-end functionality. The application allows different kinds of users (employees, managers, and administrators) to manage employees, stores, flavors, employment, shifts, and jobs based on their permissions.</p>
            
            <p>This project was a winner of the Chili Pepper Award, which was awarded to the applications with the best functionality, design, and user experience.</p>

            <p>You can find the code for this project <a href="https://github.com/drmohan/creamery">here</a></p>
            
            
        </div>
        
        <div class="eight wide column">
            <img src="img/AM/AM-Store.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/AM/AM-Manager.png" width="100%">
        </div>
        
    </div>  


</div>