<div class="page-content" id="dart-page-content">

    <h1>Dart</h1>
    <div class="ui divider"></div>
    <br>
    <div class="ui grid">
        <div class="six wide column">
            <img src="img/dart/desktop.png" width="100%">
        </div>
        
        <div class="ten wide column">
            <p>Dart is an application I built for myself to keep track of the things I think of throughout the day that don't seem important enough to write down until I find myself struggling to remember them later.</p>
            
            
        </div>
        
        <div class="six wide column">
            <img src="img/dart/add-bar.png" width="100%">
            <img src="img/dart/desktop-app.png" width="100%">
        </div>
        
        <div class="ten wide column">
            <p>Wanting something as simple and accessible as Spotlight search and more conducive to multi-tasking than the standard to-do list app, I built the following desktop application. Hitting enter saves my note to my Backand database, recording the text and the timestamp of creation. I didn't want to display all of my reminders on the app itself as it would be a distraction.</p>   
        </div>
        
        <div class="six wide column">
            <img src="img/dart/web-app.png" width="100%">
        </div>
        
        <div class="ten wide column">
            <p>Since I didn't want to see a lot of information on the same application I use to input data, I built a web application connected to the same database to manage all my notes.</p>   
        </div>
        
    </div>  


</div>