<div class="page-content" id="dart-page-content">

    <h1>PennDOT Dashboard</h1>
    <div class="ui divider"></div>
    <br>
    <div class="ui grid">
        
        <div class="sixteen wide column">
            <p>The purpose of this assignment was to create an informative dashboard that displays traffic and road conditions in Pennsylvania in real time. The dashboard has a normal state during which action need not be taken. It also has an alert state, which signifies that a condition has surpassed a given threshold.</p>
        </div>
        
        <div class="eight wide column">
            <img src="img/dashboards/dashboard1.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/dashboards/dashboard2.png" width="100%">
        </div>
        
    </div>  


</div>