<div class="page-content" id="dart-page-content">

    <h1>Phobias Poster Series</h1>
    <div class="ui divider"></div>
    <br>
    <div class="ui grid">
        
        <div class="sixteen wide column">
            <p>This project involved identifying three phobias, and illustrating them through a poster series in which the posters shared elements of color, font, and style.</p>
        </div>
        
        <div class="five wide column">
            <img src="img/phobias/Phobia-Final-1.png" width="100%">
        </div>
        
        <div class="five wide column">
            <img src="img/phobias/Phobia-Final-2.png" width="100%">
        </div>
        
        <div class="five wide column">
            <img src="img/phobias/Phobia-Final-3.png" width="100%">
        </div>
        
    </div>  


</div>