<div class="page-content" id="readme-page-content">

    <h1>Divya Mohan</h1>
    <div class="ui divider"></div>
    
    <div class="ui grid">
        <div class="sixteen wide column">
            <p>I'm Divya Mohan. I'm from the Bay Area but I've spent the last three years in Pittsburgh, PA to study IS at Carnegie Mellon but mostly to escape harsh California winters. I have an additional major in Human Computer Interaction and love front-end dev and The Office. I'm spending this summer interning at <a id="slack" href="https://slack.com/" target="_blank"><i class="slack icon"></i>Slack</a> as a front end engineer but I'll be looking for full time positions after I graduate in May 2018. Feel free to hire me.</p>
                
            <p>I'm realizing I could've just put all of this in an actual GitHub repo but I'm in too deep now. Hope you appreciate the effort.</p>
        </div>
        
        <div class="sixteen wide column">
            <h3>Contact Me</h3>
            <ul class="fat-links">
                <li><a href="https://www.linkedin.com/in/divyarmohan/">linkedin</a></li>
                <li><a href="https://github.com/drmohan">github</a></li>
                <li><a href="mailto:divyamohan@cmu.edu" target="_top">email</a></li>
            </ul>  
            
        </div>
        
    </div>  


</div>