<div class="page-content" id="dart-page-content">

    <h1>San Francisco Travel Guide Redesign</h1>
    <div class="ui divider"></div>
    <br>
    <div class="ui grid">
        
        <div class="sixteen wide column">
            <p>The purpose of this project was to design a book on a topic of choice. I decided to redesign a <a href="http://edition.pagesuite-professional.co.uk/launch.aspx?pbid=fa4b8a87-ffa4-4baa-a13f-944f0f4db553" target="_blank">visitor's guide to San Francisco</a> I found online.</p>
            <p>The original booklet had informative content but a cluttered design that seemed to contradict the San Francisco culture I'm familiar with and wasn't too appealing to its target audience. With this in mind, I sought to create a more minimalist, organized version of the travel guide.</p>
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-11.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-1.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-1.5.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-2.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-3.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-4.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-5.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-6.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-7.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-8.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-9.png" width="100%">
        </div>
        
        <div class="eight wide column">
            <img src="img/SF/SF-10.png" width="100%">
        </div>
        
    </div>  


</div>